/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"] {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  padding: 5px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"],input[type="password"], select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin:  auto;
  float: right;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#birthdate {
  margin-bottom: 10px;
}
